.firstdivision{
    border: 2px solid red;
    display: flex;
    color: grey;
    text-align: center;
   
}
.F1{
    width: 15%;
    border: 2px solid brown;
}
.h1{
    width: 70%;
    border: 2px solid rgb(92, 18, 18);
}
.F1{
    width: 20%;
    border: 2px solid red;
    text-align: center;
}
.Mah{
    color: rgb(95, 66, 12);
    text-align: center;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    letter-spacing: 15px;
    border: 15;
}
.His{
    color: red;
    text-align: center;
}
.F3{
     width: 95%;
    border: 2px solid rgb(129, 123, 123);
}

.secondclass{
    display: flex;
    align-items: center;
    
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}